body {
    background-color: darkcyan;
}
h1 {
    color: #444;
}
#main-title {
    text-decoration: underline;
    text-transform: uppercase;
}
h2{
    color: aliceblue;
}
.centered-heading {
    text-align: center;
}